###################### menu main ######################
[menu __main]
type: list
name: Main
######################menu octoprint ######################
[menu __main __octoprint]
type: list
name: Klipper

[menu __main __octoprint __pause]
type: command
enable: {printer.idle_timeout.state == "Printing"}
name: Pause printing
gcode:
    {action_respond_info('action:pause')}

[menu __main __octoprint __resume]
type: command
enable: {not printer.idle_timeout.state == "Printing"}
name: Resume printing
gcode:
    {action_respond_info('action:resume')}

[menu __main __octoprint __abort]
type: command
enable: {printer.idle_timeout.state == "Printing"}
name: Abort printing
gcode:
    {action_respond_info('action:cancel')}

###################### menu control ######################
[menu __main __control]
type: list
name: Control

[menu __main __control __home]
type: command
enable: {not printer.idle_timeout.state == "Printing"}
name: Home All
gcode: G28

[menu __main __control __homez]
type: command
enable: {not printer.idle_timeout.state == "Printing"}
name: Home Z
gcode: G28 Z

[menu __main __control __homexy]
type: command
enable: {not printer.idle_timeout.state == "Printing"}
name: Home X/Y
gcode: G28 X Y

[menu __main __control __disable]
type: command
name: Steppers off
gcode:
    M84
    M18

[menu __main __control __caselightonoff]
type: input
enable: {'output_pin caselight' in printer}
name: Lights: {'ON ' if menu.input else 'OFF'}
input: {printer['output_pin caselight'].value}
input_min: 0
input_max: 1
input_step: 1
gcode:
    SET_PIN PIN=caselight VALUE={1 if menu.input else 0}

[menu __main __control __caselightpwm]
type: input
enable: {'output_pin caselight' in printer}
name: Lights: {'%3d' % (menu.input*100)}%
input: {printer['output_pin caselight'].value}
input_min: 0.0
input_max: 1.0
input_step: 0.01
gcode:
    SET_PIN PIN=caselight VALUE={menu.input}

###################### menu temperature ######################
[menu __main __temp]
type: list
name: Temperature

[menu __main __temp __preheat_pla]
type: list
name: Preheat PLA

[menu __main __temp __preheat_pla __all]
type: command
enable: {('extruder' in printer) and ('heater_bed' in printer)}
name: Preheat all
gcode:
    M140 S60
    M104 S200

[menu __main __temp __preheat_abs]
type: list
name: Preheat ABS

[menu __main __temp __preheat_abs __all]
type: command
enable: {('extruder' in printer) and ('heater_bed' in printer)}
name: Preheat all
gcode:
    M140 S110
    M104 S245

[menu __main __temp __cooldown]
type: list
name: Cooldown

[menu __main __temp __cooldown __all]
type: command
enable: {('extruder' in printer) and ('heater_bed' in printer)}
name: Cooldown all
gcode:
    M104 S0
    M140 S0

##################### menu filament ######################
[menu __main __filament]
type: list
name: Filament

[menu __main __filament __loads]
type: command
name: Load Filament
gcode:
    SAVE_GCODE_STATE NAME=__filament__load
    G91
    G1 E140 F300
    G1 E-0.2 F3600
    G90
    CLEAN_NOZZLE
    RESTORE_GCODE_STATE NAME=__filament__load

[menu __main __filament __unloads]
type: command
name: Unload Filament
gcode:
    SAVE_GCODE_STATE NAME=__filament__load
    G91
    G1 E1 F1500    
    G1 E-80 F1000
    G90
    SPLLO_CLEAR_ACTIVE
    RESTORE_GCODE_STATE NAME=__filament__load

###################### disabled menus ###################### 
[menu __main __setup]
type: disabled
[menu __main __tune]
type: disabled
[menu __main __sdcard]
type: disabled
[menu __main __control __fanonoff]
type: disabled
[menu __main __control __fanspeed]
type: disabled
[menu __main __control __move_10mm]
type: disabled
[menu __main __control __move_1mm]
type: disabled
[menu __main __control __move_01mm]
type: disabled   
[menu __main __temp __hotend0_target]
type: disabled
[menu __main __temp __hotend1_target]
type: disabled
[menu __main __temp __hotbed_target]
type: disabled
[menu __main __temp __preheat_pla __hotend]
type: disabled
[menu __main __temp __preheat_pla __hotbed]
type: disabled
[menu __main __temp __preheat_abs __hotend]
type: disabled
[menu __main __temp __preheat_abs __hotbed]
type: disabled
[menu __main __temp __preheat_abs __hotend]
type: disabled
[menu __main __temp __preheat_abs __hotbed]
type: disabled
[menu __main __temp __cooldown __hotend]
type: disabled
[menu __main __temp __cooldown __hotbed]
type: disabled
[menu __main __filament __hotend0_target]
type: disabled
[menu __main __filament __loadf]
type: disabled
[menu __main __filament __unloadf]
type: disabled


















[board_pins]
aliases:
       #EXP1 header
       EXP1_1=PC5, EXP1_3=PB1, EXP1_5=PE9, EXP1_7=PE11, EXP1_9=<GND>,
       EXP1_2=PB0, EXP1_4=PE8, EXP1_6=PE10, EXP1_8=PE12, EXP1_10=<5V>,
       #EXP2 header
       EXP2_1=PA6, EXP2_3=PE7, EXP2_5=PB2, EXP2_7=PC4,   EXP2_9=<GND>,
       EXP2_2=PA5, EXP2_4=PA4, EXP2_6=PA7, EXP2_8=<RST>, EXP2_10=<NC>

[display]
lcd_type: uc1701
cs_pin: EXP1_3
a0_pin: EXP1_4
rst_pin: EXP1_5
contrast: 63
encoder_pins: ^EXP2_3, ^EXP2_5
click_pin: ^!EXP1_2
spi_software_miso_pin: EXP2_1
spi_software_mosi_pin: EXP2_6
spi_software_sclk_pin: EXP2_2

[neopixel fysetc_mini12864]
pin: EXP1_6
chain_count: 3
color_order: RGB
initial_RED: 0
initial_GREEN: 0.5
initial_BLUE: 1