################## Load ##################

[gcode_macro LOAD_FILAMENT]
gcode:
      FILAMENT_LOAD
      
[gcode_macro FILAMENT_LOAD]
gcode:
      _CG28
      AFC_POOP
      AFC_KICK      
      #CLEAN_NOZZLE

################## Unload ##################  

[gcode_macro UNLOAD_FILAMENT]
gcode:
      FILAMENT_UNLOAD
      
[gcode_macro FILAMENT_UNLOAD]
gcode:
      G91
      G1 E1 F1500    
      G1 E-80 F1500
      G90
      SPOOL_CLEAR_ACTIVE    

[gcode_macro FILAMENT_UNLOAD_ONE]
gcode:
      UNLOAD_ONE_FILAMENT 
  
[gcode_macro FILAMENT_UNLOAD_ALL]
gcode:
      UNLOAD_ALL_FILAMENT

################## Change ################## 

[gcode_macro FILAMENT_CHANGE]
gcode:
      _CG28
      _TOOLHEAD_PARK_PAUSE_CANCEL
      FILAMENT_UNLOAD

[gcode_macro M600]
gcode:
      {% set X = params.X|default(50)|float %}
      {% set Y = params.Y|default(0)|float %}
      {% set Z = params.Z|default(10)|float %}
      SAVE_GCODE_STATE NAME=M600_state
      PAUSE
      G91
      G1 E-.8 F2700
      G1 Z{Z}
      G90
      G1 X30 Y-7 F3000
      G91
      G1 E-50 F1000
      RESTORE_GCODE_STATE NAME=M600_state