#[delayed_gcode _INIT]
#initial_duration: 1
#gcode:
#     _set_nozzle_leds_on

[exclude_object]

[firmware_retraction]
retract_length: 1.8
retract_speed: 50
#unretract_extra_length: 0
#unretract_speed: 10

[static_digital_output usb_pullup_enable]
pins: !PA14

#[gcode_arcs]
#resolution: 1.0