[exclude_object]

[firmware_retraction]
retract_length: 1.8
retract_speed: 50
#unretract_extra_length: 0
#unretract_speed: 10

[static_digital_output usb_pullup_enable]
pins: !PA14


[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT