[bltouch]
sensor_pin: ^PC13
x_offset: 29
y_offset: -15
control_pin: PE5
probe_with_touch_mode: true
speed: 300

[gcode_macro Probe_Accuracy_Check]
gcode:
     CG28
     probe_accuracy samples=20
####For well-built machines you can expect to see between 0.0000 and 0.0008 standard deviation