#Pi 3 Model B Plus Rev 1.3
#BTT SKR 2
#STM32H743

[mcu]
Serial: /dev/serial/by-id/usb-Klipper_stm32h743xx_1A0043001951303037363639-if00
restart_method: command

[mcu rpi]
serial: /tmp/klipper_host_mcu

#mcu can placeholder
#####

[printer]
kinematics: cartesian
max_velocity: 400
max_accel: 8000
max_z_velocity: 30
#max_z_accel: 200
square_corner_velocity: 4.0

[include configs/*.cfg]

## Client variable macro for your printer.cfg
[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos    : True  ; use custom park coordinates for x,y [True/False]
variable_custom_park_x     : 230   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y     : 1.0   ; custom y position; value must be within your defined min and max of Y
#variable_custom_park_dz   : 2.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
#variable_retract          : 1.0   ; the value to retract while PAUSE
#variable_cancel_retract   : 5.0   ; the value to retract while CANCEL_PRINT
#variable_speed_retract    : 35.0  ; retract speed in mm/s
#variable_unretract        : 1.0   ; the value to unretract while RESUME
#variable_speed_unretract  : 35.0  ; unretract speed in mm/s
#variable_speed_hop        : 15.0  ; z move speed in mm/s
#variable_speed_move       : 100.0 ; move speed in mm/s
#variable_park_at_cancel   : False ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
#variable_park_at_cancel_x : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
#variable_park_at_cancel_y : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
#variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
#variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
gcode:

#####################################################################
# 	Auto Generated Save Config
#####################################################################

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 32.287
#*# pid_ki = 1.695
#*# pid_kd = 153.768
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 60.935
#*# pid_ki = 3.250
#*# pid_kd = 285.634
#*#
#*# [bltouch]
#*# z_offset = 2.100
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.125000, -0.072500, -0.085000, -0.187500
#*# 	  -0.080000, -0.032500, -0.017500, -0.082500
#*# 	  -0.027500, 0.027500, 0.032500, -0.065000
#*# 	  0.025000, 0.027500, -0.022500, -0.127500
#*# x_count = 4
#*# y_count = 4
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 35.0
#*# max_x = 200.0
#*# min_y = 10.0
#*# max_y = 199.99
